body{
    font-family: 'Montserrat', sans-serif!important;
    margin: 0;
}

header{
    width: 99.1vw;
    height: 73px;
}


.header-div{
    z-index: 2;
    position: fixed;
    background-color: #000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    margin: 5px 0 5px 10vw;
}

.profile__img{
    margin-right: 10vw;
}

.mb-3 {
    margin-bottom: 0; 
}

.input-group{
    width: 30%;
}

.search__div{
    position: relative;
    background-color: #0F4C75;
    height: 40px;
    width: 60px;
    left: 517px;
    border-radius: 0 15px 15px 0;
}

.search__img{
    position: absolute;
    z-index: 2;
    color: black;
    height: 30px;
    left: 8px;
    top: 5px;
}



/* ======================MAIN=========================== */

main{
    padding: 3% 3%;
    background: linear-gradient(115deg, #1B262C 3.14%, #173344 56.61%, #0F4C75 100%);
}

.main__div{
    height: 120vh;
}

.News__h1{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news-div{
    display: flex;
}

.object__p{
    position: absolute;
    left: 49px;
    top: 180px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.news_div-objects{
    background-color: grey;
    height: 215px;
    width: 140px;
    margin: 0 1%;
    margin-top: 1%;    
    display: flex;
    flex-direction: column;
    position: relative;
}

#first-obj{
    margin-left: 0;
}

